@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: HankenGrotesk;
  src: url(/fonts/HankenGrotesk-VariableFont_wght.ttf) format('truetype');
  font-display: swap;
}

html, body,
#root, #root > div {
    height: 100dvh;
    font-family: HankenGrotesk;
    
  }
  